@charset "UTF-8";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  opacity: 0.6;
}




/* header */
header {
  width: 100%;
  height: 95px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15%;
}

.header__logo {
  width: 30%;
  height: 52.51px;
  background-repeat: no-repeat;
}

ul {
  width: 70%;
  height: 53.36px;
  display: flex;
  flex-direction: row;
}

.header__button {
  width: 100%;
  height: 53.36px;
  list-style: none;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .header__sp {
    display: none;
  }
  /* .header__logo {
    background-image: url("/lp3/assets/images/logo.png");
  } */
  .header__button1 a {
    margin-left: 55%;
  }
}

@media screen and (max-width: 1900px) and (min-width: 1500px) {
  .header__button1 a {
    margin-left: 35%;
  }
}

@media screen and (max-width: 1500px) and (min-width: 1100px) {
  .header__button1 a {
    margin-left: 25%;
  }
}

@media screen and (max-width: 1100px) and (min-width: 767px) {
  .header__button1 a {
    margin-left: 5%;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1100px) {
  header {
    padding: 5px 7%;
  }
}

@media screen and (max-width: 1100px) and (min-width: 768px) {
  header {
    padding: 5px 0;
  }
  .header__logo {
    width: 20%;
  }
  .header ul {
    width: 80%;
  }
  .header__button1 {
    width: 40%; 
  } 
  .header__button2 {
    width: 60%; 
  } 
}

@media screen and (max-width: 767px) {
  .header__pc {
    display: none;
  }
  .header__sp {
    height: 63px;
    justify-content: space-around;
    padding: 5px 3%;
  }
  .header__logo {
    width: 20%;
    height: 39.13px;
    /* background-image: url("/lp3/assets/images/logo_sp.png"); */
  }
  .header__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__button1 {
    width: 30%;
    /* background-image: url("/lp3/assets/images/toiawase_sp.png"); */
    /* background-size: 95%; */
    /* background-position: right; */
  }
  .header__button1 img {
    width: 140px;
    height: 37px;
  }
  .header__button2 {
    width: 50%;
    /* margin-right: 5px; */
    /* background-image: url("/lp3/assets/images/counseling_sp.png"); */
    /* background-size: 99%; */
    /* background-position: right; */
  }
  .header__button2 img {
    width: 230px;
    height: 37px;
  }
}






/* top */
.section__top {
  width: 100%;
  height: 640px;
  background-image: url("/lp3/assets/images/main_pc.png");  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .section__top {
    height: 318px;
    background-image: url("/lp3/assets/images/main_sp.png");  
  }
  
}




/* campaign */
.section__campaign {
  width: 100%;
  height: 345px;
  display: flex;
  justify-content: center;
  padding-top: 41px;
  /* padding-bottom: 25px; */
  background-color: #FFFEDD;
}

.section__campaign ul {
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  overflow: hidden;
}

.section__campaign ul li {
  margin-bottom: 25px;
}

.section__campaign ul li:first-child {
  color: #FA7DA3;
  font-size: 34px;
}

.section__campaign ul li:first-child span {
  font-size: 20px;
}

.section__campaign ul li:nth-child(2) {
  width: 50%;
  height: 148px;
}

.campaign__box {
  /* width: 100%; */
  height: 155px;
  display: grid;
  grid-template-rows: 1fr 1fr; /* Two columns */
  border-radius: 10px; /* Rounded corners */
  border: 1px solid #FA7DA3;
}

.campaign__box__line { 
  /* padding: 10px; */
  text-align: center;
  vertical-align: middle;
}

.campaign__box__line1 {
  height: 48px;
  background-color: #FA7DA3;
  color: white;
  font-size: 32px;
  border-top-left-radius: 10px;  /* Rounded top-left corner */
  border-top-right-radius: 10px; /* Rounded top-right corner */
}

.campaign__box__line2 {
  flex-grow: 1; /* Takes remaining space */
  background-color: white;
  color: #FA7DA3;
  font-size: 43px;
  padding-bottom: 5px;
  border-bottom-left-radius: 10px;  /* Rounded top-left corner */
  border-bottom-right-radius: 10px; /* Rounded top-right corner */
}

.campaign__box__line2 span {
  font-size: 68px;
}

@media screen and (max-width: 1100px) and (min-width: 768px) {
  .section__campaign ul {
    width: 95%;
  }
  .section__campaign ul li:nth-child(2) {
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  .section__campaign {
    height: 190px;
    padding-top: 20px;
  }
  .section__campaign ul {
    width: 95%;
    height: 165px;
  }
  .section__campaign ul li {
    margin-bottom: 7px;
  }
  .section__campaign ul li:first-child {
    font-size: 21px;
  }
  .section__campaign ul li:nth-child(2) {
    width: 100%;
    height: auto;
  }
  .section__campaign ul li:nth-child(3) {
    font-size: 10px;
  }
  .campaign__box {
    height: 93px;
  }
  .campaign__box__line1 {
    height: 32px;
    font-size: 21px;
  }
  .campaign__box__line2 {
    height: 59px;
    font-size: 27px;
    padding-bottom: 12px;
  }
  .campaign__box__line2 span {
    font-size: 42px;
  }
}






/* free-trial */
.section__trial {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  padding-top: 41px;
  padding-bottom: 25px;
}

.section__trial ul {
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section__trial ul li:first-child {
  font-size: 34px;
  color: #FA7DA3;
  margin-bottom: 15px;
  letter-spacing: 0.12em;
}

.section__trial ul li:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.section__trial ul li:nth-child(3) {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trial__button {
  width: 50%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border: none;
  background-color: #49C43D;
  color: white;
  padding: 3px 20px 3px;
  font-size: 28px;
  letter-spacing: 0.2em;
}

.trial__button a {
  text-align: center;
  vertical-align: middle;
}

.trial__box__line {
  width: 50%;
}

.trial__box__line1 {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #50BFFF;
  border-top: 1px solid #50BFFF;
  border-bottom: 1px solid #50BFFF;
  margin-bottom: 20px;
  letter-spacing: 0.12em;
}

.trial__box__line2 {
  line-height: 35px;
  font-size: 18px;
}

@media screen and (max-width: 1100px) and (min-width: 768px) {
  .section__trial ul {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .section__trial {
    height: 330px;
    /* padding-top: 20px; */
  }
  .section__trial ul {
    width: 95%;
  }
  .section__trial ul li:first-child {
    font-size: 21px;
  }
  .section__trial ul li:nth-child(2) {
    font-size: 21px;
    margin-bottom: 30px;
  }
  .trial__button {
    width: 100%;
    height: 80px;
    font-size: 21px;
    letter-spacing: 0.2em;
  }
  .trial__box__line {
    width: 100%;
  }
  .trial__box__line1 {
    height: 35px;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .trial__box__line2 {
    line-height: 23px;
    font-size: 12px;
  }
}





/* trial-courses */
.section__trial3 {
  height: 700px;
}

.section__trial3 ul li:nth-child(4) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section__trial3 ul li:nth-child(5) {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.trial__courses__line1 {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
}

.trial__courses__line2 {
  font-size: 42px;
  color: #FA7DA3;
  margin-bottom: 35px;
}

.traial__course {
  width: 50%;
  height: 155px;
  display: grid;
  grid-template-rows: 1fr 1fr; /* Two columns */
  border-radius: 10px; /* Rounded corners */
  border: 1px solid #FA7DA3;
}

.traial__course__name {
  height: 47px;
  background-color: rgba(250, 125, 163, 0.3);
  color: #FA7DA3;
  font-size: 28px;
  border-top-left-radius: 10px;  /* Rounded top-left corner */
  border-top-right-radius: 10px; /* Rounded top-right corner */
}

.traial__course__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom-left-radius: 10px;  /* Rounded top-left corner */
  border-bottom-right-radius: 10px; /* Rounded top-right corner */
}

.traial__course__desc img {
  width: 100px;
  height: auto;
}

.traial__course__desc div {
  font-size: 18px;
}




/* free-trial2 */
.section__trial2 {
  height: 280px;
}

@media screen and (max-width: 767px) {
  .section__trial2 {
    height: 210px;
  }
}



/* footer */
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FA7DA3;
  padding: 30px 0;
}

.footer_pc {
  height: 128px;
}

.footer_sp {
  height: 64px;
}

@media screen and (min-width: 768px) {
  .footer__sp {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  footer {
    padding: 15px 0;
  }
  .footer__pc {
    display: none;
  }
}






/* font */

.noto-serif-jp-regular{
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-jp-semibold{
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.noto-sans-jp-bold {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.outfit-regular {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}