@charset "UTF-8";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  opacity: 0.6;
}



/* 1 */
/* header */
body {
  padding-top: 105px;
}

header {
  width: 100%;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
}

.header__pc, .header__sp {
  width: 100%;
  height: 115px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px 15%;
}

.header__logo {
  width: 30%;
  height: auto;
  background-repeat: no-repeat;
}

.header__logo img {
  width: 35%;
}

.online__buttons {
  width: 70%;
  height: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid red;
}

.online__buttons__inner {
  width: 660px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #008000;
}

.online__button1, .online__button2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 65px;
  border-radius: 9999px;
  border: none;
  font-size: 26px;
  letter-spacing: -0.1em;
  padding-left: 30px;
  color: white;
}

.online__button1 {
  width: 250px;
  background-color: #FA7DA3;
  position: relative;
}

.online__button1::after {
  content: "＞";
  font-size: 20px;
  position: absolute;
  top: 25%;
  right: 10%;
}

.online__button2 {
  width: 380px;
  background-color: #49C43D;
}

.online__button2::after {
  content: "＞";
  font-size: 20px;
  position: absolute;
  top: 35%;
  right: 16.5%;
}

@media screen and (min-width: 768px) {
  .header__sp {
    display: none;
  }
}

@media screen and (max-width: 1400px) and (min-width: 768px) {
  .header__pc {
    padding: 5px 5%;
  }
  .online__button1 {
    width: 230px;
  }
  .online__button2 {
    width: 350px;
  }
  .online__button2::after {
    right: 75px;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 53px;
  }
  .header__pc {
    display: none;
  }
  .header__sp {
    height: 53px;
    justify-content: center;
    padding: 10px 1%;
    padding-right: 0;
  }
  .header__logo {
    width: 20%;
    height: auto;
    padding-top: 5px;
    padding-left: 5px;
  }
  .header__logo img {
    width: 90%;
  }
  .online__buttons {
    width: 85%;
    height: auto;
    justify-content: flex-start;
  }
  .online__button1, .online__button2 {
    height: 28px;
    /* border-radius: 1999px; */
    padding-left: 0;
    font-size: 11px;
  }
  .online__button1 {
    width: 100px;
    padding-left: 10px
  }
  .online__button1::after {
    font-size: 11px;
    top: 15%;
  }
  .online__button2 {
    width: 180px;
    padding-left: 10px;
    margin-left: 10px;
  }
  .online__button2::after {
    font-size: 11px;
    right: 5%;
  }
} 





/* 2 */
/* top */
.section__top {
  width: 100%;
  height: 1000px;
  background-image: url("/assets/images/main_pc.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top__container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2.2fr 3% 1.9fr 1.1fr;
  /* grid-template-rows: repeat(2, 1fr); */
  grid-template-rows: 0.9fr 1.1fr;
}

.top__item1 {
  width: 100%;
  height: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center;
  text-align: right;
  margin: 0 auto;
  color: white;
  font-size: calc(7vw + 1.5rem);
  position: relative;
}

.top__item1::after {
  content: "（顔・VIO込）";
  position: absolute;
  top: 70%;
  left: 67%;
  font-size: 45px;
}

.top__item1 p {
  display: none;
}

.top__item2 {
  width: 100%;
  height: 100%;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2.5fr 1fr;
  color: white;
}

.top__item2--above {
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.3);
  display: grid;
  grid-template-columns: 2fr 5% 1fr 1.3fr;
  grid-template-rows: 0.8fr 1fr;
}

.top__item2--below {
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  text-align: right;
  padding-top: 2%;
  padding-right: 18%;
  font-size: 35px;
}

.item2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item2:nth-of-type(1) {
  justify-self: right;
  align-self: end;
  padding-right: 3%;
  padding-bottom: 3%;
  font-size: 50px;
}

.item2:nth-of-type(1) p {
  color: #FA7DA3;
  background-color: white;
  padding: 10px;
}

.item2:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  vertical-align: top;
  color: #FFFD7A;
  font-size: 260px;
  margin-top: -70px;
}

.item2:nth-of-type(3) {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  color: #FFFD7A;
  justify-self: left;
  vertical-align: bottom;
  padding-top: 30%;
  font-size: 120px;
}

.item2:nth-of-type(4) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-self: right;
  align-self: start;
  padding-right: 2%;
  font-size: 85px;
}

.top__item3 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  font-size: 35px;
  color: white;
}

.item3 {
  width: 100%;
  height: 115px;
  border: 1px solid white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

@media screen and (max-width: 2600px) and (min-width: 2000px) {
  .top__container {
    grid-template-columns: 0.2fr 3fr 3% 1.8fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (max-width: 2200px) and (min-width: 2000px) {
  .top__item1::after {
    top: 47%;
    left: 68%;
  }
}
@media screen and (max-width: 2000px) and (min-width: 1600px) {
  .top__container {
    grid-template-columns: 0.2fr 3fr 3% 2.2fr 0.7fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .top__item1::after {
    top: 43%;
    left: 65%;
  }
}
@media screen and (max-width: 1800px) and (min-width: 1600px) {
  .top__item1::after {
    top: 40%;
    left: 62%;
  }
}
@media screen and (max-width: 1600px) and (min-width: 1300px) {
  .top__container {
    grid-template-columns: 0.2fr 3fr 3% 2.5fr 0.1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .top__item1::after {
    top: 37%;
    left: 53%;
  }
  .item2:nth-of-type(1) {
    font-size: 47px;
  }
  .item2:nth-of-type(2) {
    font-size: 230px;
  }
  .item2:nth-of-type(3) {
    font-size: 110px;
  }
  .item2:nth-of-type(4) {
    font-size: 75px;
  }
}
@media screen and (max-width: 1300px) and (min-width: 768px) {
  .top__container {
    grid-template-columns: 0fr 2.8fr 3% 2.5fr 0fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .top__item1::after {
    top: 32%;
    left: 47%;
  }
  .item2:nth-of-type(1) {
    font-size: 45px;
  }
  .item2:nth-of-type(2) {
    font-size: 200px;
  }
  .item2:nth-of-type(3) {
    font-size: 100px;
  }
  .item2:nth-of-type(4) {
    font-size: 65px;
  }
}
@media screen and (max-width: 1100px) and (min-width: 768px) {
  .top__container {
    grid-template-columns: 0fr 2fr 3% 2.5fr 0fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .top__item1::after {
    top: 25%;
    left: 30%;
    font-size: 35px;
  }
  .item2:nth-of-type(1) {
    font-size: 40px;
  }
}
@media screen and (max-width: 767px) {
  .section__top {
    height: 370px;
    background-image: url("/assets/images/main_sp.png");
  }
  .top__container {
    height: 450px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.6fr 1.4fr;
  }
  .top__item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 43px;
    padding-top: 20px;
  }
  .top__item1::after {
    display: none;
  }
  .top__item1 p {
    display: block;
    font-size: 23px;
    line-height: 1.2em;
  }
  .top__item2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    grid-template-rows: 0.3fr 0.1fr;
  }
  .top__item2--above {
    margin-bottom: 3px;
  }
  .item2:nth-of-type(1) {
    padding-top: 30px;
    font-size: 12px;
  }
  .item2:nth-of-type(1) p {
    padding: 3px 5px;
  }
  .item2:nth-of-type(2) {
    font-size: 80px;
    vertical-align: bottom;
    margin-top: -8px;
    margin-bottom: -5px;
  }
  .item2:nth-of-type(3) {
    padding-top: 45%;
    font-size: 35px;
    margin-bottom: -5px;
  }
  .item2:nth-of-type(4) {
    font-size: 24px;
  }
  .top__item2--below {
    padding-right: 10%;
    font-size: 15px;
  }
  .top__item3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-content: start;
    font-size: 17px;
    padding-top: 40px;
    padding-bottom: 15px;
    padding-right: 15px;
  }
  .item3 {
    width: 80%;
    height: 37px;
    margin-bottom: 12px;
  }
}



/* 3 */
/* campaign */
.section__campaign {
  width: 100%;
  height: 345px;
  display: flex;
  justify-content: center;
  padding-top: 41px;
  background-color: #FFFEDD;
}

.section__campaign ul {
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.section__campaign ul li {
  margin-bottom: 25px;
}

.section__campaign ul li:first-child {
  width: 20%;
  color: #FA7DA3;
  font-size: 35px;
  text-align: center;
}

.section__campaign ul li:first-child span {
  padding: 3%;
  padding-right: 6%;
  font-size: 45px;
}

.section__campaign ul li:nth-child(2) {
  width: 50%;
  height: 148px;
}

.campaign__box {
  height: 155px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-radius: 10px;
  border: 1px solid #FA7DA3;
}

.campaign__box__line {
  text-align: center;
  vertical-align: middle;
}

.campaign__box__line1 {
  height: 48px;
  background-color: #FA7DA3;
  color: white;
  font-size: 32px;
  letter-spacing: 0.1rem;
  border-top-left-radius: 10px;  /* Rounded top-left corner */
  border-top-right-radius: 10px; /* Rounded top-right corner */
}

.campaign__box__line2 {
  flex-grow: 1; /* Takes remaining space */
  background-color: white;
  color: #FA7DA3;
  font-size: 43px;
  padding-bottom: 5px;
  border-bottom-left-radius: 10px;  /* Rounded top-left corner */
  border-bottom-right-radius: 10px; /* Rounded top-right corner */
}

.campaign__box__line2 span {
  font-size: 68px;
}

@media screen and (max-width: 1300px) and (min-width: 768px) {
  .section__campaign ul li:first-child {
    width: 40%;
  }
}

@media screen and (max-width: 1100px) and (min-width: 768px) {
  .section__campaign ul {
    width: 95%;
  }
  .section__campaign ul li:nth-child(2) {
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  .section__campaign {
    height: 215px;
    padding-top: 23px;
  }
  .section__campaign ul {
    width: 95%;
    height: 165px;
  }
  .section__campaign ul li {
    margin-bottom: 9px;
  }
  .section__campaign ul li:first-child {
    width: 40%;
    font-size: 23px;
  }

  .section__campaign ul li:first-child span {
    font-size: 30px;
  }
  .section__campaign ul li:nth-child(2) {
    width: 95%;
    height: auto;
  }
  .section__campaign ul li:nth-child(3) {
    font-size: 10px;
  }
  .campaign__box {
    height: 93px;
  }
  .campaign__box__line1 {
    height: 32px;
    font-size: 21px;
  }
  .campaign__box__line2 {
    height: 59px;
    font-size: 27px;
    padding-bottom: 12px;
  }
  .campaign__box__line2 span {
    font-size: 42px;
  }
}





/* 4 */
/* free-trial */
.section__trial {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  padding-top: 41px;
  padding-bottom: 25px;
}

.section__trial ul {
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section__trial ul li:first-child {
  font-size: 34px;
  color: #FA7DA3;
  margin-bottom: 15px;
  letter-spacing: 0.12em;
}

.section__trial ul li:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.section__trial ul li:nth-child(3) {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__trial a {
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.section__trial a div::after {
  content: url("/assets/images/arrow.png");
  position:absolute;
  top: 38%;
  left: 87%;
}

.trial__button {
  width: 50%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border: none;
  background-color: #49C43D;
  color: white;
  padding: 3px 20px 3px;
  font-size: 28px;
  letter-spacing: 0.2em;
}


.trial__box__line {
  width: 50%;
}

.trial__box__line1 {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #50BFFF;
  border-top: 1px solid #50BFFF;
  border-bottom: 1px solid #50BFFF;
  margin-bottom: 20px;
  letter-spacing: 0.12em;
}

.trial__box__line2 {
  line-height: 35px;
  font-size: 18px;
}

@media screen and (max-width: 1100px) and (min-width: 768px) {
  .section__trial ul {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .section__trial {
    height: 330px;
  }
  .section__trial ul {
    width: 90%;
  }
  .section__trial ul li:first-child {
    font-size: 21px;
  }
  .section__trial ul li:nth-child(2) {
    font-size: 21px;
    margin-bottom: 30px;
  }
  .section__trial a div::after {
    content: url("/assets/images/arrow_sp.png");
    top: 32%;
    left: 88%;
  }
  .trial__button {
    width: 100%;
    height: 80px;
    font-size: 20px;
    letter-spacing: 0.2em;
    line-height: 1.3em;
  }
  .trial__box__line {
    width: 100%;
  }
  .trial__box__line1 {
    height: 35px;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .trial__box__line2 {
    line-height: 23px;
    font-size: 12px;
  }
}


/* 5 */
/* 3 points */
.section__threepoints {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(250, 125, 163, 0.1);
  padding-top: 55px;
}

.section__threepoints > p {
  margin-bottom: 15px;
}

.threepoints__subject {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

.threepoints__subject--text {
  margin: 0 15px;
  font-size: 38px;
  color: #FA7DA3;
}

.point__box, .point__box2 {
  width: 60%;
  min-width: 750px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 10px; /* Rounded corners */
  border: 1px solid #FA7DA3;
  background-color: white;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.point__box2 {
  padding-bottom: 35px;
}

.point__box--row1 {
  width: 100%;
  height: 74px;
  line-height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FA7DA3;
  color: white;
  font-size: 28px;
  letter-spacing: 0.1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.point__box--row2 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 25px;
  padding-bottom: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.point__desc1 {
  padding: 2% 5% 2%;
  font-size: 21px;
}

.point__desc2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 25% 5px;
}

.desc2__outer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desc2__outer1 {
  margin-right: 3%;
}

.desc2__outer2 {
  margin-left: 3%;
}

.desc2__logo {
  width: 100%;
  max-width: 270px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20% 25%;
  border: 1px solid #FA7DA3;
}

.desc2__logo img {
  width: 300px;
  height: auto;
}

.desc2__logo2 {
  width: 300px;
  height: auto;
  background-color: rgba(250, 125, 163, 0.1);
  border: 1px solid black;
}

.desc2__logo__below {
  padding-top: 5%;
  padding-bottom: 1%;
  font-size: 21px;
}

.point__box__drawings {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.point__box__drawings > div:first-child{
  margin-bottom: 80px;
}

.img--full{
  width: 80%;
  height: auto;
}

.img--partial{
  width: 90%;
  height: auto;
}

.point__desc1--plans {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .threepoints__sp {
    display: none;
  }
  .full--sp {
    display: none;
  }
}

@media screen and (min-width: 2600px) and (max-width: 2000px) {
  .desc2__logo {
    padding: 20% 10%;
  }
  .img--full{
    width: 70%;
    height: auto;
  }

  .img--partial{
    width: 80%;
    height: auto;
  }
}

@media screen and (min-width: 2000px) and (max-width: 1000px) {
  .desc2__logo {
    padding: 20% 5%;
  }
  .img--full{
    width: 60%;
    height: auto;
  }

  .img--partial{
    width: 70%;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .section__threepoints {
    height: auto;
    padding-top: 35px;
  }
  .threepoints__pc {
    display: none;
  }
  .section__threepoints > p {
    margin-bottom: 2px;
  }
  .threepoints__subject {
    margin-bottom: 20px;
  }
  .threepoints__subject--text {
    margin: 0 2px;
    font-size: 30px;
  }
  .point__box {
    width: 90%;

    min-width: 0;
    padding-bottom: 0px;
  }
  .point__box--row1 {
    height: 45px;
    font-size: 17px
  }
  .point__desc1 {
    font-size: 12px;
  }
  .point__desc2 {
    padding: 0px 5% 10px;
  }
  .desc2__outer {
    height: 100px;
  }
  .desc2__logo {
    width: 100%;
    height: 80px;
    max-width: 195px;
  }
  .desc2__logo img {
    width: 60px;
    height: auto;
  }
  .desc2__logo2 img {
    width: 50px;
    height: auto;
  }
  .desc2__logo__below {
    font-size: 12px;
    padding-top: 2%;
  }
  .point__box {
    margin-bottom: 30px;
  }
  .point__box2 {
    height: auto;
    padding-bottom: 10px;
  }
  .full--pc {
    display: none;
  }
  .point__box__drawings > div:first-child{
    margin-bottom: 10px;
  }
  .img--full {
    margin-bottom: 35px;
  }
  .img--full, .img--partial {
    width: 90%;
    height: auto;

  }
  .desc2__outer3 {
    height: 100px;
  }

}






/* 6 */
/* 2 courses */
.section__trial2 {
  height: auto;
  padding-bottom: 50px;
}

.section__trial2 ul li:nth-child(3) {
  font-size: 24px;
  margin-bottom: 7px;
}

.section__trial2 ul li:nth-child(4) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.threepoints__subject2 {
  margin-bottom: 30px;
}

.stars--sp {
  display: none;
}

.section__trial2 ul li:nth-child(5) {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.trial__courses__line2 {
  margin: 0 15px;
  font-size: 38px;
  color: #FA7DA3;
  margin-bottom: 55px;
}

.traial__course {
  width: 48%;
  min-width: 185px;
  height: auto;
  min-height: 260px;
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  border-radius: 10px;
  border: 1px solid #FA7DA3;
}

.traial__course__inner {
  height: auto;
  padding: 5%;
  padding-top: 4%;
}

.traial__course__name {
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(250, 125, 163, 0.1);
  color: #FA7DA3;
  font-size: calc(0.5vw + 1.0rem);
  letter-spacing: -0.2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.traial__course__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.traial__course__desc div {
  font-size: 17px;
  line-height: 1.7em;
  margin-bottom: 5%;
}

.traial__course__desc img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  .section__trial2 {
    height: auto;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .trial__courses__line2 {
    font-size:25px;
  }
  .section__trial2 ul li:first-child {
    margin-bottom: 8px;
  }
  .section__trial2 ul li:nth-child(2) {
    margin-bottom: 40px;
  }
  .section__trial2 ul li:nth-child(3) {
    font-size: 16px;
    margin-bottom: 0;
  }
  .section__trial2 ul li:nth-child(4) {
    margin-bottom: 20px;
  }
  .threepoints__subject2 {
    margin-bottom: 0;
  }
  .stars--pc {
    display: none;
  }
  .stars--sp {
    display: block;
  }
  .section__trial2 ul li:nth-child(5) {
    width: 100%;
    flex-direction: column;
  }
  .traial__course {
    width: 100%;
  }
  .traial__course1 {
    margin-bottom: 30px;
  }
  .traial__course__name {
    height: 38px;
    font-size: 16px;
  }
  .traial__course__desc div {
    font-size: 13px;
    margin-bottom: 3%;
  }
}



/* 7 */
/* reviews */
.section__reviews {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: #FDF0F5;
  padding-top: 41px;
}

.section__reviews div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.threepoints__subject3 {
  margin-bottom: 20px;
}

.threepoints__subject3 > div {
  padding: 0 10px;
}

.outer {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  background-color: #FDF0F5;
}

.splide {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
}

.splide__track {
  width: 75%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.splide__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.splide__slide {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #FA7DA3;
}

.slide__row1 {
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FA7DA3;
  color: white;
  font-size: 18px;
  letter-spacing: 0.1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.slide__row2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  padding-top: 10px;
  padding-right: 2%;
  padding-bottom: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.row2__face {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row2__face img {
  height: 95%;
}

.row2__review {
  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.row2__review p:nth-of-type(1) {
  font-size: 16px;
  color: #FA7DA3;
  padding-bottom: 7px;
}

.row2__review p:nth-of-type(2) {
  font-size: 14px;
}

.splide__pagination {
  width: 85%;
  height: 50px;
  position: static !important;
}

.splide__pagination li {
  padding: 0 0.4%;
  transform: scale(1.1); /* Slightly enlarge the active dot */
}

.your-class-page.is-active {
  background: #FA7DA3 !important;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .face--sp {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .splide__track {
    width: 100%;
  }
  .splide__list {
    width: 75%;
    height: auto;
  }
  .splide__slide {
    height: auto;
  }
  .slide__row1 {
    height: 30px;
    font-size: 14px;
  }
  .row2__face img {
    height: 75%;
  }
  .face--pc {
    display: none;
  }
  .row2__review p:nth-of-type(1) {
    font-size: 12px;
  }
  .row2__review p:nth-of-type(2) {
    font-size: 10px;
  }
}



/* 8 */
/* free-trial3 */
.section__trial3 {
  height: 280px;
}

@media screen and (max-width: 767px) {
  .section__trial3 {
    height: 200px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .section__trial3 ul {
    height: 130px;
  }
  .section__trial3 ul li:nth-child(2) {
    margin-bottom: 0px;
  }
}


/* 9 */
/* footer */
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FA7DA3;
  padding: 30px 0;
}

.footer_pc {
  height: 128px;
}

.footer_sp {
  height: 64px;
}

@media screen and (min-width: 768px) {
  .footer__sp {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  footer {
    padding: 15px 0;
  }
  .footer__pc {
    display: none;
  }
}






/* font */

.noto-serif-jp-regular{
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-jp-semibold{
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.noto-sans-jp-bold {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.outfit-regular {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}